# Ignore virtual environment
venv/
.env/
__pycache__/

# Ignore OS system files
.DS_Store
Thumbs.db

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore image datasets (raw and processed)
data/raw/
data/processed/
data/results/

# Ignore model weights or configs if large
models/*.h5
models/*.pt
models/*.pkl
models/*.ckpt

# Ignore evaluation outputs
evaluation/*.png
evaluation/*.csv

# Ignore logs or temporary files
*.log
*.tmp

# VS Code settings
.vscode/

# Compiled files
*.pyc
*.pyo
*.pyd
*.so
*.o

# Ignore any zipped dataset archives
*.zip
*.rar
*.tar
*.gz
